{% extends 'layouts/base.html.twig' %}

{% block title %}Ma Super agence{% endblock %}

{% block body %}
<div class="jumbotron text-center">

    <div class="container">
        <h1>Ma Super agence</h1>
    </div>
</div>
<div class="blockcard">

    
</div>

    
{% endblock %}