{% extends 'layouts/base.html.twig' %}

{% block title %}Ma Super agence{% endblock %}

{% block body %}
<div class="jumbotron text-center">

    <div class="container">
        <h1>Ma Super agence</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, nostrum corporis! Obcaecati expedita praesentium sint sunt excepturi ab sed non officia alias at iste impedit, asperiores consequatur minus aliquam dicta.</p>
    </div>
</div>

<div class="consul"><a href="/acheter" > Consultez nos biens</a></div>


{% endblock %}